

.menu-text {
  /* height: 6em;
  padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
.neonText {
  color: #fff !important;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff !important;
}
.menu-text:hover {
  transform: scale(1.1);
  text-shadow:
    /* White glow */
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 9px #fff;
}
.menu-text-active {
  transform: scale(1.1);
  text-shadow:
    /* White glow */
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 9px #fff;
}

.container {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,7,8,1) 49%, rgba(2,0,36,1) 100%);
}

.gradient_ground {
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
}
.sidebar_gradient_ground {
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
}

.menu-text-border:hover {
  transform: scale(1.1);
  text-shadow:
    /* White glow */
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 9px #fff;
    box-shadow: 0 0 9px #fff;
}
.menu-text-border-active {
  transform: scale(1.1);
  text-shadow:
    /* White glow */
    0 0 3px #fff,
    0 0 6px #fff,
    0 0 9px #fff;
    box-shadow: 0 0 9px #fff;
}

.image img {
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 12px
}
.image {
  scrollbar-width: none;
}
.image:hover {
  transform: scale(1.1);
  box-shadow: 0 0 9px #fff;
}

button:active{
  transform: scale(.92);
}